.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.Input{
    padding: 9px;
}

.Btn{
    padding: 10px;
    background-color: deepskyblue;
    text-transform: uppercase;
    border: none;
    color: #fff;
}

.ListMovie{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.ItemMovie{
    flex-basis: calc((100% - 30px)/3);
    max-width: 370px;
    padding: 0;
    margin: 0;
}